
:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  
  
  body {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: 
        "asideimg headerimg"
        "nav section"
        ". ."
        ". copyright";
    grid-gap: 20px;
  }
  
  section {
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "What-we-do our-work contact-us";
  }
  }
  
  
  #what-we-do { 
    grid-area: what-we-do;
    padding: 10px;
    border-right: 1px ridge  rgba(170, 239, 135, 0.8);
    padding-right: 20px;
    display: inline-block;
  
    }
  
   
  #our-work {
    grid-area: our-work;
    padding: 10px;
    border-right: 1px ridge rgba(170, 239, 135, 0.8);
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
  
  }
  
  
  
  #contact-us {
    grid-area: contact-us;
    border-right: 1px ridge rgba(170, 239, 135, 0.8);
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
  
  }
  header {
    height: 120px;
    margin-bottom: 20px;
  }
  
  div h2 {
    color: rgb(157, 226, 53);
  }
  
  aside img {
    grid-area: logo1;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto; 
  }
  
  aside {
    width: 200px;
    height: 100%;
    border-right: 1px solid rgba(0, 173, 238, 0.4);
  }
  
  header img {
    grid-area: logo2;
    height: 120px;
    margin-bottom: 20px;
  }
  
  main > img {
    grid-area: 2400;
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  
  nav a {
   display: block;
   color: #00adee;
   text-decoration: none;
   font-weight: bold;
   text-align: center;
   width: 120px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-bottom: 1px solid;
  }
  
  nav ul {
    list-style-type: none;
    border-bottom: 1px blue;
    display: block;
    margin-top: 5px;
    padding: 30px;
    font-size: 23px;
  }
  div p {
    font-size: 20px;
  } 
  footer {
    margin-left: 40px;
  }
  
  
  .subheading {
    display: none;
  }
  footer img {
    display: none;
  }
  #social {
    display: none;
  } 
  
  
  


 

