:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: rgba(192, 192, 192, 0.1);
}

body {
    margin-left: 8%;
    margin-right: 8%;

}

  h3 {
    color: #00ADEE;
  }


 


#te-logo {
    display: flex;
  width: 250px;
}

.headline {
    margin-top: 10px;
    color: grey;
    font-size: 30px;
    font-family: arial;
    
}
 #student-grid {
     display: grid;
     grid-column-gap: 20px;
     grid-row-gap: 50px;
     grid-template-columns: 2fr, 2fr, 2fr;
     grid-template-areas: "student-quote student-quote student-picture"
                            "student-profile student-profile student-contact"
                            "experience expereince experience";

 }

 #student-quote {
    grid-area: student-quote;
    color: black;
    font-family: arial;
    
    size: 30px;
    width: 550px;
    line-height: 35px;
    align-self: auto;
}
 #student-picture {
 grid-area: student-picture;
 }
 #student-profile {
    grid-area: student-profile;
    font-family: arial;
    width: 600px;
    margin-top: 40%;
    size: 40%;
    color: black;

}

#student-contact {
    grid-area: student-contact;
    margin-top: 43%;
    margin-left: 75%;
    font-family: arial;
    width: 30%;
    size: 1em;
    color: grey;
    text-align: center;
}

#experience {
    grid-area: experience;
    align-content: flex-start;
    margin-top: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    size: 3px;
}

 #experience div{
width: 400px;
padding-left: 10px;
padding-right: 10px;
}
#experience p {
    align-content: flex-start;
    align-items: center;
    width: 300px;
} 

#student-picture img {
    border-radius: 50%;
    margin-left: 70%;
}


footer {
    display: block;
    justify-items: stretch;
    align-items: flex-end;
   
}
